.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 100px;
}
.logo {
    height: 65px;
}
.fitur .list {
    display: flex;
    align-items: center;
}
.list {
    list-style: none;
}
.list li a {
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(107, 107, 107);
    font-weight: bold;
    font-size: 16px;
}

.list li a:hover {
    color: orange;
}

.login-reg {
    display: flex;
    align-items: center;
}

.login button {
    margin-right: 40px;
    height: 40px;
    width: 90px;
    border: 1px solid orange;
    color: orange;
    background-color: transparent;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.register button {
    margin-right: 40px;
    height: 40px;
    width: 90px;
    border: none;
    color: white;
    background-color: orange;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.isi-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 87vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(238, 239, 175) 0%, rgb(195, 227, 250) 100%);
}

.get button {
    height: 50px;
    width: 120px;
    background-color: orange;
    border: none;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.content-text h1 {
    font-weight: bold;
}

.content-text p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.gambar-1 img {
    height: 300px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}
@media (min-width: 280px) and (max-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        height: 80px;
    }
    .isi-content {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(238, 239, 175) 0%, rgb(195, 227, 250) 100%);
    }

    .gambar-1 img {
        height: 200px;
    }

    .fitur {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .fitur.active {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle span {
        display: block;
    }


    .list {
        flex-direction: column;
    }

    .login-reg {
        display: none;
    }

    .content-text h1 {
        font-weight: bold;
        font-size: 30px;
    }
    
    .content-text p {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .logo-bekantan img {
        height: 50px;
    }
}