@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    width: 100%;
    top: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px
}

.logo-bekantan {
    display: flex;
    align-items: center;
}

.logo-bekantan img {
    height: 85px;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

.menu ul li a {
    margin-right: 70px;
    cursor: pointer;
}

.menu ul li a:hover {
    color: orange;
}

.login-reg {
    display: flex;
}

.login-reg button {
    margin: 15px;
}

.login button {
    height: 50px;
    width: 100px;
    background-color: white;
    border: 3px solid orange;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    color: orange;
    font-size: 16px;
}

.login button:hover {
    background-color: orange;
    color: white;
}

.register button {
    background-color: orange;
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.register button:hover {
    background-color: rgb(255, 185, 56);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.input-domain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.content-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-content {
    margin-bottom: 30px;
}

.text-content h1 {
    font-size: 50px;
    font-weight: bold;
}
.text-content h1 span {
    color: orange;
}
.text-content p {
    font-size: 20px;
    font-weight: bold;
    color: grey;
}
.button-content button {
    height: 60px;
    width: 250px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-content p {
    font-size: 18px;
    font-weight: bold;
    color: grey;
}

.button-content button:hover {
    background-color: rgb(255, 179, 39);
}
  
  .template-container.slide-left {
    transform: translateX(-100%);
  }
  
  .template-container.slide-right {
    transform: translateX(100%);
  }


  .content-2 {
    height: 100vh;
    padding: 40px 20px; 
    background-color: #f5f5f5; 
    color: #333; 
}

.content-2 h1 {
    font-size: 50px; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; 
    color: #333; 
}

.content-2 h1 span {
    color: orange;
}

.content-2 .text-content-2 {
    text-align: justify;
    font-size: 18px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.masalah h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px; 
}

.text2-content-2 {
    font-size: 18px;
    color: #444; 
    line-height: 1.6; 
    margin: 0 auto; 
}

.text2-content-2 ul {
    text-align: left; 
    padding-left: 20px;
}


.masalah h1:hover, .content-2 h1:hover {
    color: #ff8c00; /* Darker shade of orange */
    cursor: pointer; /* Indicate interactivity */
    transition: color 0.3s ease-in-out; /* Smooth transition */
}

.list-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 40px; /* Spacing between columns */
    position: relative; /* For the vertical line positioning */
    padding: 20px; /* Space around the list */
}

.list-column {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.list-container::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px; /* Width of the vertical line */
    background-color: orange; /* Orange color for the vertical line */
    transform: translateX(-50%); /* Center the line */
}


.content-3 {
    height: 100vh;
}

.content-3 h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.content-3 p {
    text-align: center;
}

.content-3 h1 span {
    color: orange;
}

.content-3 p {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-bottom: 50px;
}

.template-item {
    margin: 10px auto;
    max-width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
  }
  .template-item img {
    width: 80%;
    height: auto;
    border-radius: 5px;
  }
  
  .pagination-buttons {
    text-align: center;
    margin-top: 20px;
}

.pagination-buttons button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.pagination-buttons button:hover {
    background-color: #2980b9;
}

.pagination-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-buttons button:not(:disabled) {
    transition: transform 0.3s ease;
}

.pagination-buttons button:hover:not(:disabled) {
    transform: scale(1.1);
}

.desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.desc button {
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    background-color: rgb(130, 216, 0);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.desc .shop {
    background-color: rgb(70, 70, 255);
}

.desc .shop:hover {
    background-color: rgb(120, 120, 255);
}

.desc button:hover {
    background-color: greenyellow;
}

.desc button i {
    font-size: 20px;
    color: white;
}

.desc p {
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 17px;
    color: black;
}
.user-count {
    display: flex;
    max-width: 300px;
    max-height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.user-count i {
    font-size: 17px;
    color: gray;
}

.user-count span {
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

.icon-card i {
    margin-right: 10px;
}

.user-count .p-desc {
    font-size: 17px;
    margin-bottom: 10px;
    color: black;
}

.content-4 {
    height: 100vh;
}
.judul-content-4 h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.judul-content-4 span {
    color: orange;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.card-items {
    margin: 10px auto;
    max-width: 450px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
}

.card-items:nth-child(2) {
    border: 6px solid orange;
    border-radius: 10px;
    box-shadow: 0 0 15px orange;
}

.card-items h1 {
    font-weight: bold;
}

.penawaran p {
    font-weight: bold;
    color: white;
    margin: 0;
}

.penawaran {
    margin-bottom: 15px;
    height: 50px;
    width: 70%;
    background-color: rgb(1, 189, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.judulnya {
    margin: 0 auto;
    background-color: orange;
}

.harga {
    margin-top: 10px;
}

.harga-dicoret {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.harga-akhir {
    margin: 0;
    color: red;
    font-weight: bold;
}

.harga-akhir span {
    font-size: 15px;
}

.harga-akhir-no span {
    font-size: 15px;
}

.kontak {
    height: 80vh;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: 30px;
}
.screen {
    display: flex;
    justify-content: center;
}
.screen img {
    height: 250px; 
}

.kontak-content {
    display: flex;
    justify-content: center;
}

.lokasi {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.lokasi p {
    color: black;
}

.lokasi h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.whatsapp {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.whatsapp p {
    color: black;
}

.whatsapp h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.email {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.email h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.email p {
    color: black;
}

.sejajar img {
    height: 50px;
}

.bekantan-logo img {
    margin-bottom: 20px;
    height: 80px;
}

.isi-foot{
    display: flex;
    justify-content: center;
}
.sosmed {
    display: flex;
    align-items: center;
}
.icon a.icons i {
    font-size: 3em;
}
.icon {
    margin-right: 10px;
}
.footer {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
