@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    width: 100%;
}

.logo-bekantan {
    display: flex;
    align-items: center;
}

.logo-bekantan a h1 {
    margin: 0 auto;
    color: orange;
    font-weight: bold;
}
.logo-bekantan a h1 span {
    color: rgb(112, 194, 227);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

.menu ul li a {
    color: #fff;
    margin-right: 70px;
    cursor: pointer;
}

.menu ul li a:hover {
    color: orange;
}

.login-reg {
    display: flex;
}

.login-reg button {
    margin: 15px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-image: url('/public/layout/images/back-fix.jpg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.icons-border {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
  }
  

.border-items {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

.icons-border i {
    font-size: 25px;
}

.gambar-content2 img {
    height: 450px;
    margin-right: 50px;
}

.padding-content {
    width: 100%;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
    background-color: rgb(112, 194, 227);
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.input-domain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.content-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-content {
    margin-bottom: 30px;
}

.text-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.text-content p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.button-content button {
    height: 60px;
    width: 250px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-content p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.content-2 {
    height: 100vh;
    color: #333; 
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-2 h1 {
    font-size: 50px; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; 
    color: #333; 
}

.content-2 h1 span {
    color: orange;
}
.last-content-2 p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
.content-2 .text-content-2 {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.content-3 {
    height: 100vh;
}

.content-3 h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.content-3 p {
    text-align: center;
}

.content-3 h1 span {
    color: orange;
}

.content-3 p {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-bottom: 50px;
}

.template-item {
    margin: 10px auto;
    max-width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
  }
  .template-item img {
    width: 80%;
    height: auto;
    border-radius: 5px;
  }
  
  .pagination-buttons {
    text-align: center;
    margin-top: 20px;
}

.pagination-buttons button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.desc button {
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    background-color: rgb(130, 216, 0);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.desc .shop {
    background-color: rgb(70, 70, 255);
}

.desc .shop:hover {
    background-color: rgb(120, 120, 255);
}

.desc button:hover {
    background-color: greenyellow;
}
.content-com {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-com h1 {
    margin: 0;
    margin-right: 10px;
}

.desc button i {
    font-size: 20px;
    color: white;
}

.desc p {
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 17px;
    color: black;
}
.user-count {
    display: flex;
    max-width: 300px;
    max-height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.user-count i {
    font-size: 17px;
    color: gray;
}

.user-count span {
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

.icon-card i {
    margin-right: 10px;
}

.user-count .p-desc {
    font-size: 17px;
    margin-bottom: 10px;
    color: black;
}

.judul-h1-2 {
    color: red;
    font-size: 50px;
}

.harga-akhir-id {
    color: black;
}

.harga-akhir-id span {
    font-size: 15px;
}

.content-4 {
    height: 100vh;
}
.judul-content-4 h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.judul-content-4 span {
    color: orange;
}

.container{
    overflow: hidden;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.card-items {
    text-align: center;
    margin: 10px auto;
    max-width: 450px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
}
.judul-h1 {
    font-size: 50px;
    color: rgb(213, 213, 2);
}
.card-items:nth-child(2) {
    border: 6px solid orange;
    border-radius: 10px;
    box-shadow: 0 0 15px orange;
}

.card-items h1 {
    font-weight: bold;
}

.penawaran p {
    font-weight: bold;
    color: red;
}

.penawaran {
    border: 3px solid red;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.judulnya {
    margin: 0 auto;
    background-color: orange;
}

.harga {
    margin-top: 10px;
}

.judul-domain h1 {
    font-size: 50px;
    color: rgb(1, 189, 1);
}

.harga-dicoret {
    font-size: 20px;
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.harga-akhir {
    margin: 0;
    color: red;
    font-weight: bold;
}

.harga-akhir span {
    font-size: 15px;
}

.harga-akhir-no span {
    font-size: 15px;
}

.kontak {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
}

.diskon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diskon h3 {
    color: white;
    background-color: orange;
    font-size: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0;
}

.isi {
    text-align: justify;
}

.isi-foot{
    display: flex;
    justify-content: center;
}
.ikuti h1 {
    color: #fff;
}

.icon a.icons i {
    font-size: 3em;
    color: #fff;
}
.admin-kontak {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 80px;
    display: flex;
    align-items: center;
}

.admin-kontak h1 {
    margin: 0;
    font-size: 25px;
    color: rgb(112, 194, 227);
    font-weight: bold;
    margin-left: 10px;
}
.admin-kontak p {
    font-size: 20px;
    font-weight: bold;
    color: orange;
    margin-left: 10px;
}
.icon a {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.icon a span {
    margin-left: 10px;
    font-size: 17px;
    color: #fff;
}
.footer {
    color: #fff;
    background-color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
